---
# Create the vagrant user with passwordless sudo and install the insecure public key.
# The insecure key is replaced by Vagrant on first `vagrant up` when box.insecure_key = true.

- name: Ensure wheel group exists
  ansible.builtin.group:
    name: wheel
    state: present

- name: Create vagrant user
  ansible.builtin.user:
    name: vagrant
    groups: wheel
    shell: /bin/bash
    create_home: true

- name: Grant vagrant passwordless sudo
  ansible.builtin.copy:
    dest: /etc/sudoers.d/vagrant
    content: "vagrant ALL=(ALL) NOPASSWD:ALL\n"
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Create .ssh directory
  ansible.builtin.file:
    path: /home/vagrant/.ssh
    state: directory
    owner: vagrant
    mode: '0700'

- name: Install Vagrant insecure public key
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/hashicorp/vagrant/main/keys/vagrant.pub
    dest: /home/vagrant/.ssh/authorized_keys
    owner: vagrant
    mode: '0600'
